# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.DnsSync.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\dns-sync\.idea\.idea.DnsSync\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
